@mixin flex($justify-content) {
    display: flex;
    justify-content: $justify-content;
}
@mixin font($font-size, $line-height, $letter-spacing) {
    font-family: ABeeZee;
    font-weight: 400;
    font-style: italic;
    font-size: $font-size;
    line-height: $line-height;
    letter-spacing: $letter-spacing;
}
@mixin proportions($width, $height) {
    width: $width;
    height: $height;
}
@mixin pozition() {
    position: relative;
    top: -313px;
    left: 30px;
}