@import 'mixins';
@import 'variables';

* {
    margin: 0 auto;
    max-width: 1920px;
    padding: 0;
    box-sizing: border-box;
}

/* ------------header------------ */

header {
    @include flex(space-between);
    margin: 0 312px;
    width: 1296px;
}
.box_icons {
    @include flex(space-between);
    align-items: center;
    gap: 56px;
    padding-left: 958px;
}
.icon{
    @include proportions(24px, 24px);
}

/* -------------main------------- */

main{
    @include proportions(1920px, 700px);
    background-color: #4FBFA5;
}
.links{
    @include flex(center);
    flex-direction: row;
    gap: 100px;
    width: 1295px;
    a{
        @include font(18px, 150%, 0%);
        text-decoration: none;
        color: white;
        margin-top: 30px;
        &:last-child {
            @include proportions(194px, 42px);
            background-color: white;
            color: black;
            text-align: center;
            padding: 10px 51px 11px 51px;
            margin-top: 23px;
        }
    }
    
}
.first-screen{
    display: flex;
    margin: 45px 309px 57px 316px;
    color: white;
    h2 {
        @include font(48px, 150%, 0%);
    }
    p {
        @include font(14px, 150%, 0%);
    }
    button {
        @include proportions(158px, 50px);
        background-color: #00868A;
        @include font(18px, 100%, 5%);
        text-transform: uppercase;
        color: white;
        border: none;
    }
    &__desc {
    @include proportions(416px, 266px);
    color: white;
    margin: 133px 133px 134px 0;
    h1 {
        @include font(48px, 150%, 0%);
    }
    p {
        @include font(14px, 150%, 0%);
        margin-top: 20px;
    }
    button {
        @include proportions(158px, 50px);
        background-color: #00868A;
        @include font(18px, 100%, 5%);
        text-transform: uppercase;
        color: white;
        border: none;
        margin-top: 40px;
    }
}
}

/* ------------section------------ */

section {
    h2 {
        text-align: center;
        @include font(48px, 150%, 0%);
        color: #00868A;
    }
    margin: 146px 309px 148px 312px;
    .offers {
    display: flex;
    gap: 24px;
    margin-top: 60px;
        &__item {
            img {
                @include proportions(306px, 230px);
            }
            @include proportions(306px, 343px);
            background-color: #00868A;
            &_frame {
                display: flex;
                @include font(21px, 150%, 0%);
                color: white;
                p {
                    margin: 25px 15px 25px 30px;
                }
                button {
                    @include proportions(50px, 40px);
                    border: 1px solid white;
                    background-color: transparent;
                    margin: 37px 30px 37px 15px;
                }
                img {
                    @include proportions(20px, 10px);
                }
            }
            &_sticker {
                @include proportions(70px, 40px);
                @include font(18px, 100%, 0%);
                color: white;
                padding: 9px 15px 10px 15px;
                background-color: #4FBFA5;
                margin-right: 236px;
                @include pozition;
            }
        }
    }
}

/* ------------footer------------ */

footer {
    @include proportions(1295px, 91px);
    margin: 0 313px 31px 312px;
    .box_icons {
        align-items: center;
        justify-content: right;
    }
}